<title>
    <%= title %>
</title>

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/favicon/site.webmanifest" />

<!-- Primary Meta Tags -->
<meta name="title" content="<%= title %>">
<meta name="description" content="<%= desc %>">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="<%= baseUrl %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= desc %>">
<meta property="og:image" content="<%= baseUrl %>/og-image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= baseUrl %>">
<meta property="twitter:title" content="<%= title %>">
<meta property="twitter:description" content="<%= desc %>">
<meta property="twitter:image" content="<%= baseUrl %>/og-image.png">